<%- include('partials/header') %>

<body class >
<div class="jumbotron centered blu">
  <div class="container">
    <i class="fas fa-pen-nib fa-6x"></i>
    <h1 class="display-3">DigiBoard</h1>
    <p class="lead">Write Freely, World Listens!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
<p class="credits">Developed by Yug Kathuria</p>
</body>
<%- include('partials/footer') %>
