<%- include('partials/header') %>
<body class="blu mgin">
<div class="blu">
  <div class=" centerz">
    <i class="fas fa-pen-nib fa-4x"></i>
    <h3 class="display-3">DigiBoard</h3>
    <p class="secret-text">Write Freely, World Listens!</p>
  </div>
    <form action="/posta" method="POST">

      <div class="form-group">
        <!-- <input type="text" class="form-control text-center" name="posta" placeholder="What's on your mind today?"> -->
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle" required placeholder="Give a Short Title">
        <label>Post</label>
        <textarea class="form-control" name="postBody" required placeholder="What's on your mind today?" rows="5" cols="30"></textarea>
      </div>
      
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
</body>
<%- include('partials/footer') %>
